* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.fr {
    float: right;
}

.react-tree {
    margin: 10px;
}

.table-tree-wrapper {
    position: relative;
    border: 1px solid #ddd;
}

.table-tree {
    color: #333;
    width: 100%;
    font-size: 14px;
    line-height: 40px;
}

.table-tree.table-fixed,
.table-tree.table-fixed .table {
    width: auto;
}

.table-tree .table-bordered {
    border-top: 0;
}

.table-tree .table-container {
    overflow: auto;
    position: relative;
}

.table-tree-wrapper .table-tree-footer {
    padding: 10px;
}

.react-tree .table-tree-title {
    padding: 10px 0;
}

.table-fixed .table-container, .table-container.table-header-container {
    overflow: hidden;
}

.table-tree .table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
    border-left: 0;
    border-width: 1px;
}

.table-tree .table > thead > tr > th {
    background: #fff;
}

.table-tree .table-bordered > tbody > tr > td:last-child,
.table-tree .table-bordered > thead > tr > th:last-child {
    border-right-width: 0;
}

.table-tree .table {
    margin-bottom: 0;
    table-layout: fixed;
}

.table-fixed {
    top: 0;
    position: absolute;
}

.table-left-fixed {
    left: 0;
    border-right: 0;
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.2);
}

.table-left-fixed .table {
    border-right: 0
}

.table-right-fixed {
    right: 0;
    border-left: 0;
}

.table-right-fixed {
    border-left: 0;
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.2);
}

.react-tree.ellipsis .table th, .react-tree.ellipsis .table td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.react-tree.break .table th, .react-tree.break .table td {
    white-space: normal;
    word-break: break-all;
    vertical-align: top;
}

.table-tree .table td {
    position: relative;
}

.table-tree .table td .table-arrow {
    right: 10px;
    color: dimgray;
    position: absolute;
}

.table-tree .table td .table-arrow > * {
    transition: all 0.2s ease-in;
}

.table-tree .table tr.ancestor {
    background-color: #ffefd5;
}

.table-tree .table tr.ancestor > td span {
    text-indent: 0 !important;
    font-weight: 800;
}

.table-tree.table-nestedHead {
    border: 1px solid #ddd;
    border-bottom: 0;
    overflow: hidden;
}

.table-nestedHead .table-bordered {
    border-bottom: 0;
}

.table-body-container .table-bordered > tbody > tr:first-child > td {
    border-top: 0;
}

.table-nestedHead .table-bordered > thead > tr:last-child > th {
    border-top: 0;
}

.table-tree .table-striped > tbody > tr:nth-of-type(even) {
    background: #fff;
}